.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  font-size: 16px;
  font-family: "DM Mono", monospace;
  font-weight: 600;
  color: var(--brand-Delta);
  font-size: 26px;
  font-family: "DM Mono", monospace;
  font-weight: 600;
}
