@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Bebas+Neue&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&family=Varela+Round&display=swap");
@import "./variables.css";

.dm-mono {
  font-family: "DM Mono", monospace;
  font-style: normal;
}

body {
  background-color: var(--brand-Gamma);
}
